# 大文件默认存放于data文件夹下
# test开头的文件仅用于测试
/test*.*
/test/
/searcher/__pycache__/
/.idea/
/.ipynb*/
/searcher/.ipynb*/
/.vscode/
/splits/
/audio*
/tmp*
/searcher/grobid_client/__pycache__/
/searcher/data/1/
/searcher/data/2/
/searcher/data/.vscode/
/searcher/data/3
/searcher/data/videosstruct*
/varFile.json
/privateConfig.json
